body {
    font-family: Arial, sans-serif; /* Устанавливаем шрифт для всего сайта */
    text-align: center; /* Центрируем текст и элементы на странице */
    margin: 0; /* Убираем отступы по краям страницы */
    padding: 0; /* Убираем внутренние отступы */
    background-color: #f0f0f0; /* Устанавливаем светлый фон для страницы */
}

.container {
    margin-top: 50px; /* Отступ сверху для контейнера с изображением и аудио */
}

#clickableImage {
    cursor: pointer; /* Изменяем курсор на указатель при наведении */
    width: 300px; /* Устанавливаем ширину изображения */
    border: 5px solid #555; /* Добавляем рамку вокруг изображения */
    border-radius: 10px; /* Закругляем углы рамки */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Добавляем тень для изображения */
    transition: transform 0.3s, box-shadow 0.3s; /* Плавное изменение размера и тени при наведении */
}

#clickableImage:hover {
    transform: scale(1.05); /* Увеличиваем изображение при наведении */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Увеличиваем тень при наведении */
}

#myAudio {
    display: none; /* Скрываем аудиоплеер от пользователей */
}
